{% extends 'base.html.twig' %}

{% block title %}Blocks Add{% endblock %}

{% block main %}
<h1>Blocks Add</h1>
{{form(form)}}
{{ dump(form) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags('blocks_add') }}
{% endblock %}